@import 'styles/constants';

.radiogroup {
  display: flex;

  &__label {
    flex: 1;
    background-color: rgba($teal, .15);
    color: $gray;
    font-size: 1.25rem;
    padding: 1rem 0;
    text-align: center;
    border: 1px solid $teal;
    cursor: pointer;
    user-select:none;
    transition: all $transition-duration;

    &:not(:last-child) {
      border-right: none;
    }

    &:hover {
      &:not(.radiogroup__label_active) {
        background-color: rgba($teal, .6);
      }
    }

    &_active {
      background-color: $teal;
      color: $white;
    }
  }

  input[type="radio"] {
    margin: 0;
    
    
  }
}
