@import '../../styles/constants';

.radiogroup {
  &_button {
    &__label {
      flex: 1;
      background-color: rgba($teal, 0.15);
      color: $gray;
      font-size: 1.25rem;
      padding: 1rem 0;
      text-align: center;
      border: 1px solid $teal;
      cursor: pointer;
      user-select: none;
      transition: all $transition-duration;

      &:hover {
        &:not(.radiogroup_button__label_active) {
          background-color: rgba($teal, 0.6);
        }
      }

      &_active {
        background-color: $teal;
        color: $white;
      }
    }

    &:not(:last-child) {
      & .radiogroup_button__label {
        border-right: none;
      }
    }
  }

  input[type='radio'] {
    margin: 0;
  }
}
