//colours
$title: #1B2A33;
$standard: #53565a;
$orange: #F79321;
$textHighlight: #0FA6B6;
$black: #222222;
$yellow: #F4D35E;

//fonts
$rounded: "HK Nova R", sans-serif;
$defaultFont: "HK Nova", sans-serif;