// variables
@import './constants';

// mixins
@import './mixins/respond';

@import './reset';
@import './fonts';

// grid
@import './mixins/grid-mixins';
@import './grid';
@import './container';

// helpers
@import './helpers';

html, body {
  height: 100%;
  font-size: 16px;
}

body {
	padding: 0; 
	color: $standart; 
	font-size: 16px;
	line-height: 1.56;
  font-family: $defaultFont;

}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
}

header, main, footer {
  flex-shrink: 0;
}

h1 {
  font-size: 2.125rem;
  color: $gray;
}

h2 {
  font-size: 2.125rem;
  color: $gray;
}

h3 {
  font-size: 1.25rem;
  color: $gray;
}


// styles for the overlay spinner

._loading_overlay_content {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

._loading_overlay_overlay {
  background: rgba($standart, .25) !important;
  display: flex;
  justify-content: center;
}

._loading_overlay_spinner svg circle {
  stroke: $teal !important;
}
