// variables
@import './constants';

// mixins
@import './mixins/respond';

@import './reset';
@import './fonts';

// grid
@import './mixins/grid-mixins';
@import './grid';
@import './container';

// helpers
@import './helpers';

html, body {
  height: 100%;
  font-size: 16px;
}

body {
	padding: 0; 
	color: $standart; 
	font-size: 16px;
	line-height: 1.56;
  font-family: $defaultFont;

}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
}

header, main, footer {
  flex-shrink: 0;
}

h1 {
  font-size: 2.125rem;
  color: $gray;
}

h2 {
  font-size: 2.125rem;
  color: $gray;
}

h3 {
  font-size: 1.25rem;
  color: $gray;
}


// styles for the overlay spinner

._loading_overlay_content {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

._loading_overlay_overlay {
  background: rgba($standart, .25) !important;
  display: flex;
  justify-content: center;
}

._loading_overlay_spinner svg circle {
  stroke: $teal !important;
}


// styles for select

div.select {
  max-height: 2.725rem;

  &__control {
    border-color: $light-gray;
    color: $standart !important;
    max-width: 10rem;
    line-height: 1.5rem;
    min-height: auto;

    &:hover, &:focus, &:active {
      border: 1px solid $light-gray;
      box-shadow: 0 0 0 1px $light-gray;
    }

    &--is-focused {
      border: 1px solid $light-gray;
      box-shadow: 0 0 0 1px $light-gray;
    }
  }

  &__value-container {
    padding: .55rem .75rem;

    & > div {
      padding: 0;
      margin: 0;
    }
  }

  &__placeholder {
    color: $standart;
    font-size: .875rem;
    font-family: inherit;
  }

  &__menu {
    max-width: 10rem; 
  }
}