@import '../../styles/constants';
@import '../../styles/mixins/respond';

.header {
  box-shadow: 0 .125rem .375rem rgba(0, 0, 0, .1);
  padding: 1.5rem 0;

  &__logo {
    position: relative;

    &:after {
      position: absolute;
      top: 15%;
      content: "";
      height: 70%;
      background-color: $gray;
      width: .125rem;
      margin-left: 1.5rem;
    }

    &_wrapper {
      justify-content: center;
      @include respond('sm') {
        justify-content: inherit;
      }
    }
  }

  &__title {
    font-size: 1.125rem;
    color: $gray;
    margin-left: 3rem;
  }
}
