@import '../../../styles/constants';
@import '../../../styles/mixins/respond';

.btn {
  font-size: .875rem;
  border: none;
  color: $white;
  line-height: 1.25rem;
  cursor: pointer;
  transition: all $transition-duration;
  font-family: inherit;
  width: 100%;
  text-decoration: none;

  @include respond('md') {
    width: auto;
  }

  &__primary {
    min-width: 9.5rem;
    padding: 1rem 2.5rem;
    border-radius: 1.55rem;
    background-color: $orange;

    &:hover, &:focus {
      background-color: $teal;
    }
  }

  &__text {
    background: none;
  }
}

